.navbar {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    45deg,
    rgba(92, 111, 142, 0.201),
    rgba(44, 102, 194, 0.287)
  );
  display: flex;
  justify-content: space-between;
  h3 {
    color: black;
  }
  .nav-bar-container {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    .nav-bar-item {
      border: none;
      background-color: transparent;
      color: black;
    }
  }
}
