// * {
//   border: 1px solid red;
// }
button {
  border: none;
}
.home {
  width: 100vw;
  height: 100vh;
  .home-container {
    display: flex;

    .info {
      padding: 50px 10px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .social-networks {
        display: flex;
        gap: 1rem;
        .img-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          border: 2px solid rgb(44, 102, 194);
          border-radius: 50%;
        }
      }
      p {
        width: 30vw;
      }
    }
  }
  .tecno {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    h1 {
      border: 4px solid rgb(44, 102, 194);
      box-shadow: 6px 6px 10px rgb(44, 102, 194);
      padding: 5px;
      border-radius: 5px;
    }
  }
  .curser {
    width: 3x0px;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}

h4 {
  height: 1.2em;
  display: flex;
  align-items: center;
}
.cursor-text {
  display: inline-block;
  width: 2px; /* Largeur du curseur */
  height: 1.2em; /* Hauteur du curseur, ajustez selon vos besoins */
  background-color: black; /* Couleur du curseur */
  animation: blink-animation 1s infinite; /* Animation de clignotement */
}
img {
  color: aqua;
}

@keyframes blink-animation {
  50% {
    opacity: 0; /* Le curseur devient invisible à la moitié de l'animation */
  }
}
